body {
    background-color:antiquewhite;
}

.leftBar{
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius:5px;
    animation:fly-in-from-left .5s 1s ease both;
    transform-origin:top left;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding:30px;
    margin:10px;
}

#amount{
    width:140px;
}
