@using Springboard.Models
@model Springboard.Models.SkillCreateViewModel

<style>
    #listSkillTraits, #listSkillSelection {
        border: 1px solid #eee;
        width: auto;
        min-width: 200px;
        min-height: 20px;
        list-style-type: none;
        margin: 0;
        padding: 5px 0 0 0;
        float: left;
        margin-right: 10px;
    }

        #listSkillTraits li, #listSkillSelection li {
            margin: 0 5px 5px 5px;
            padding: 5px;
            font-size: 1.2em;
            width: auto;
        }
</style>


<script type="text/javascript">
$(document).ready(function () {
    $("#listSkillTraits").sortable({
        connectWith: "#listSkillSelection"
    }).disableSelection();
    $("#listSkillSelection").sortable({
    });
    $("#btnSkillSubmit").click(function () {
        var data = $("#listSkillSelection").sortable('serialize');
        var Skill = [];
        var index = 0;
        var list = data.split("&").forEach(function (entry) {
            Skill.push({ PropertyName: entry.replace("set[]=", ""), Rank: index });
            index++;
        });

        $.post("/Skills/SkillCreatePartial",
            {
                CreatorType: "@Model.CreatorType",
                CreatorId: "@Model.CreatorId",
                Selection: Skill
            }, function () { });
        return false;
    });
})
    function serializeListItem(item, count)
    {
        return { Id: item.id, Position: count };
    }
</script>

<table>
    <tr>
        <th style="text-align: center">
            Traits
        </th>
        <th style="text-align: center">
            Selection
        </th>
    </tr>
    <tr>
        <td style="vertical-align: top">
            <ol id="listSkillTraits" class="connectedSortable">
                @foreach (Trait trait in Model.Traits)
                {
                    <li id="set_@trait.DisplayName">@trait.DisplayName</li>
                }
            </ol>
        </td>
        <td style="vertical-align: top">
            <ol id="listSkillSelection" class="connectedSortable"></ol>
        </td>
    </tr>
</table>
<input type="button" value="Submit Skill" id="btnSkillSubmit" />