@using Springboard.Models
@model Springboard.Models.ApplicationUser
@if (Model != null)
{
    if (Model.Role.Equals(Role.Seeker))
    {
        @Html.ActionLink("Manage", "Index", "Manage")
    }
    else if (Model.Role.Equals(Role.Poster))
    {
        <div>Poster</div>
    }
}
