@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Depaul University<br />
    Chicago, IL 60605<br />
    <abbr title="Phone">P:</abbr>
    888.123.4567
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Legit@email.com">Legit@email.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:SoLegit@example.com">SoLegit@example.com</a>
</address>