
@{
    ViewBag.Title = "Help";
}
<h2>@ViewBag.Title.</h2>
<h3>Springboard. Proffessional and consistent job matching service.</h3>


<br />
<br />

<h3>How Do I Use Springboard?</h3>
<p>1.) In the upper right hand side you must first register as either a Seeker or a Poster.</p>
<p>2.) Fill in your name, age, email, and type of account to use (as either a compnay or a job seeker).</p>
<p>3.) Click on the dashboard at the upper right, and rank the required skills and culture fit.</p>
<p>4.) ????????</p>
<p>5.) Find the Job or Candidate of your dreams!</p>
<br />

<h3>How do I rate my skills? I'm not proficient in all of this mumbo jumbo.</h3>
<p>With Springboard, you rate your confidence in your skills as well to provide the best possible fit in a company.</p>
<br />

<h3>I can't see any jobs. Where are they?</h3>
<p>They probably haven't been posted yet.</p>
<br />

<h3>I can't see any candidates. Where are they?</h3>
<p>Patience young padawan, they will come in time.</p>
<br />

<h3>How are candidates and postings matched?</h3>
<p>Our secret sauce is in intense searching algorithms that match the most ideal candidate to the requirements of a posting.</p>
<br />

<h3>Can I buy Sprinboard for millions of dollars?</h3>
<p>Of Course!!!!</p>
<br />

<h3>I have a question that is not listed here.</h3>
<p>That itself is not a question, but contact us at Springboard@springboard.springboard.com</p>



