@{
    ViewBag.Title = "Home Page";
}
<link href="@Url.Content("~/Content/index.css")" rel="stylesheet" type="text/css" />

<div class="jumbotron splash">
    <h1>Job matching at its finest</h1>
    <br />
    <p class="lead">Jumpstart your way into a new career.</p>
    <br />
    <p><button class="btn btn-default">@Html.ActionLink("Find Out More", "About", "Home")</button></p>
</div>

<div class="row steps">
    <div class="col-md-4">
        <h2>Step 1</h2>
        <p>
            Register for a new account.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Step 2</h2>
        <p>Identify the skillset.</p>
    </div>
    <div class="col-md-4">
        <h2>Step 3</h2>
        <p> Jumpstart a new career.</p>
    </div>
</div>