@using Springboard.Models
@model Springboard.Models.CultureCreateViewModel

@Scripts.Render("~/bundles/jqueryval")

<style>
    #listCultureTraits, #listCultureSelection {
        border: 1px solid #eee;
        width: auto;
        min-width: 200px;
        min-height: 20px;
        list-style-type: none;
        margin: 0;
        padding: 5px 0 0 0;
        float: left;
        margin-right: 10px;
    }

        #listCultureTraits li, #listCultureSelection li {
            margin: 0 5px 5px 5px;
            padding: 5px;
            font-size: 1.2em;
            width: auto;
        }
</style>


<script type="text/javascript">
$(document).ready(function () {
    $("#listCultureTraits").sortable({
        connectWith: "#listCultureSelection"
    }).disableSelection();
    $("#listCultureSelection").sortable({
    });
    $("#btnCultureSubmit").click(function () {
        var data = $("#listCultureSelection").sortable('serialize');
        var culture = [];
        var index = 0;
        var list = data.split("&").forEach(function (entry) {
            culture.push({ PropertyName: entry.replace("set[]=", ""), Rank: index });
            index++;
        });

        $.post("/Culture/CultureCreatePartial",
            {
                CreatorType: "@Model.CreatorType",
                CreatorId: "@Model.CreatorId",
                Selection: culture
            }, function () { });
        return false;
    });
})
    function serializeListItem(item, count)
    {
        return { Id: item.id, Position: count };
    }
</script>

<table>
    <tr>
        <th style="text-align: center">
            Traits
        </th>
        <th style="text-align: center">
            Selection
        </th>
    </tr>
    <tr>
        <td style="vertical-align: top">
            <ol id="listCultureTraits" class="connectedSortable">
                @foreach (Trait trait in Model.Traits)
                {
                    <li id="set_@trait.DisplayName">@trait.DisplayName</li>
                }
            </ol>
        </td>
        <td style="vertical-align: top">
            <ol id="listCultureSelection" class="connectedSortable"></ol>
        </td>
    </tr>
</table>
<input type="button" value="Submit Culture" id="btnCultureSubmit" />
