body {
    background-color: antiquewhite;
    
}

h2{
    font-size:300%;
}

h3{
    font-size:150%
  
}
h2, h3, p{
    
    

    

    margin:10px;
    
}

#about{
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    color:white;
    font-size: 170%;
    background-image: url("../../Content/Images/about.jpg");
    background-size: 100% 100%;
    height: 60vh;
    padding:40px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius:3px;
    animation:fly-in-from-left .5s 1s ease both;
    transform-origin:top left;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
