@model Springboard.Models.JobPosting

@{
    ViewBag.Title = "Job Details";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Job Details</title>
</head>
<body>
    @{Layout = "~/Views/Shared/_Layout.cshtml";}
    <div>
        <h3>@Html.DisplayFor(model => model.JobTitle)</h3>
        <hr />
        <p> @Html.DisplayFor(model => model.JobDescription) </p>
        <br/>
        <div> <button style="margin:auto; display:block;" type="button" class="btn btn-primary btn-lg">Apply</button> </div>
    </div>
    <br/>
    <p>
        <div>@Html.ActionLink("Back to Job Listings", "Index")</div>
    </p>
</body>
</html>
